@font-face {
    src: url("/fonts/Santorini.ttf");
}

.root{
    -fx-font-size: 17pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-background-image: url("/images/background_setup.png");
    -fx-background-size: cover;
}

#titleScene{
    -fx-background-image: url("/images/title.png");
    -fx-background-size: cover;
}

#boardScene{
    -fx-background-image: url("/images/Table.png");
    -fx-background-size: cover;
}

#boardTitle{
    -fx-font-size: 28pt;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
}

#boardSubtitle{
    -fx-wrap-text: true;
    -fx-text-fill: whitesmoke;
    -fx-font-size: 18pt;
}

#boardPlayerName{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
    -fx-font-size: 19pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-font-weight: bold;
}

.button{
    -fx-background-image: url("/images/btn_blue.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
}

.button:pressed{
    -fx-background-image: url("/images/btn_blue_pressed.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
}

#buttonPlay{
    -fx-background-image: url("/images/button_play_normal.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonPlay:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#buttonPlay:pressed{
    -fx-background-image: url("/images/button_play_down.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#godButton{
    -fx-text-fill: transparent;
}

#godButton:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#godButton:disabled{
    -fx-opacity: 0.3;
}

#godButton:selected{
    -fx-opacity: 1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

.radio-button{
    -fx-font-size: 17pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-font-weight: bold;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
}

#redButton{
    -fx-background-image: url("/images/workers/worker_red_pressed.png");
    -fx-background-size: cover;
}

#redButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-background-size: cover;
}

#redButton:disabled{
    -fx-opacity: 0.3;
}

#redButton:selected{
    -fx-background-image: url("/images/workers/worker_red_normal.png");
    -fx-background-size: cover;
    -fx-opacity: 1;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

#blueButton{
    -fx-background-image: url("/images/workers/worker_blue_pressed.png");
    -fx-background-size: cover;
}

#blueButton:disabled{
    -fx-opacity: 0.3;
}

#blueButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#blueButton:selected{
    -fx-background-image: url("/images/workers/worker_blue_normal.png");
    -fx-background-size: cover;
    -fx-opacity: 1;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

#magentaButton{
    -fx-background-image: url("/images/workers/worker_magenta_pressed.png");
    -fx-background-size: cover;
}

#magentaButton:disabled{
    -fx-opacity: 0.3;
}

#magentaButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#magentaButton:selected{
    -fx-background-image: url("/images/workers/worker_magenta_normal.png");
    -fx-background-size: cover;
    -fx-opacity: 1;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

.check-box{
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-font-weight: bold;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 0.3, 0, 0.5, 1);
}

.tooltip{
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
}

#dialogScene{
    -fx-background-image: url("/images/dialog.png");
    -fx-background-size: cover;
}

#dialogLabel {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
}

#dialogTitle {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
}

#error{
    -fx-text-fill: darkred;
    -fx-font-size: 12pt;
}

#godName{
    -fx-font-size: 19pt;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 0.6, 0, 0.5, 1);
}

#enabledTile{
    -fx-border-color: #d69600;
    -fx-background-color: #fff300;
    -fx-opacity: 0.5;
}

#enabledTile:hover{
    -fx-border-color: #d69600;
    -fx-background-color: #fff300;
    -fx-opacity: 0.7;
}

#enabledTile:selected{
    -fx-border-color: #d61517;
    -fx-border-width: 5px;
}

#disabledTile{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#selectPower{
    -fx-background-image: url("/images/powerSliderOff.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#selectPower:selected{
    -fx-background-image: url("/images/powerSliderOn.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}