.root{
    -fx-font-size: 17pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-background-image: url("/images/background_columns.png");
    -fx-background-size: cover;
}

#titleScene{
    -fx-background-image: url("/images/title.png");
    -fx-background-size: cover;
}

.label {
    -fx-font-size: 17pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-font-weight: bold;
}

.button{
    -fx-background-image: url("/images/btn_blue.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
}

.button:pressed{
    -fx-background-image: url("/images/btn_blue_pressed.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
}

#buttonPlay{
    -fx-background-image: url("/images/button_play_normal.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#buttonPlay:pressed{
    -fx-background-image: url("/images/button_play_down.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.choice-box{
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-background-image: url("/images/clp_skip_btn.png");
    -fx-background-color: transparent;

}

.choice-box .context-menu {
    -fx-background-color: rgba(146, 128, 113, 0.65);
}

.choice-box .menu-item:focused {
    -fx-background-color: rgba(81,73,68, 0.8);
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.choice-box > .label {
    -fx-text-fill: white;
    -fx-font-size: 13;
}

.radio-button{
    -fx-font-size: 17pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-font-weight: bold;
}

#redButton{
    -fx-background-image: url("/images/worker_red_pressed.png");
    -fx-background-size: cover;
}

#redButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-background-size: cover;
}

#redButton:disabled{
    -fx-opacity: 0.3;
}

#redButton:selected{
    -fx-background-image: url("/images/worker_red_normal.png");
    -fx-background-size: cover;
    -fx-opacity: 1;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

#blueButton{
    -fx-background-image: url("/images/worker_blue_pressed.png");
    -fx-background-size: cover;
}

#blueButton:disabled{
    -fx-opacity: 0.3;
}

#blueButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#blueButton:selected{
    -fx-background-image: url("/images/worker_blue_normal.png");
    -fx-background-size: cover;
    -fx-opacity: 1;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

#magentaButton{
    -fx-background-image: url("/images/worker_magenta_pressed.png");
    -fx-background-size: cover;
}

#magentaButton:disabled{
    -fx-opacity: 0.3;
}

#magentaButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#magentaButton:selected{
    -fx-background-image: url("/images/worker_magenta_normal.png");
    -fx-background-size: cover;
    -fx-opacity: 1;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

.check-box{
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #9b6029;
    -fx-font-weight: bold;
}

.tooltip{
    -fx-font-size: 13pt;
    -fx-font-family: "Agency FB";
    -fx-text-fill: #ffffff;
    -fx-font-weight: normal;
}

#dialogScene{
    -fx-background-image: url("/images/endgame_victorywin.png");
}

#dialogLabel {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

#dialogTitle {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-font-size: 20pt;
}

#error{
    -fx-text-fill: darkred;
    -fx-font-size: 12pt;
}